* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Crimson Text', serif;
	color: #c7973a;
}

/*font-family: 'Crimson Text', serif;
font-family: 'Space Mono', monospace;
font-family: 'Zeyada', cursive;*/

body {
	background-image: url(./images/glitter2.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
}

.navbar {
	background-color: rgba(0, 0, 0, 1);
}

.nav-link {
	color: #c7973a;
	font-size: 1.5rem;
}

.logo {
	float: left;
	width: 150px;
	height: 60px;
} 

.btn {
	background-image: url(./images/glitter3.jpg);
	border-radius: 50px;
	border: 1px solid lightgoldenrodyellow;
	font-weight: bold;
	display: absolute;

}

#summary {
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 1);
}



.linky {
	color: black;
	text-decoration-color: lightgoldenrodyellow;
}



#foota {
	font-family: 'Space Mono', monospace;
 	background-color: #ffffff;
  	opacity: 0.5;
  	font-weight: bold;

}

/*About Me*/
#aboutme {
	border: 2px double yellow;
}

#worke {
	background-color: lightgoldenrodyellow;
  	opacity: 0.5;
  	font-weight: bold;
  	color: black;
}

.workexperience {
	background-color: black;
	border: 1px solid yellow;
}

#eduback {
	background-color: lightgoldenrodyellow;
  	opacity: 0.5;
  	font-weight: bold;
  	color: black;
}

.educationalbackground {
	background-color: black;
	border: 1px solid yellow;
}

.company {
	font-size: 1.2rem;
	font-weight: bold;
}

.position {
	font-size: 1rem;
	font-style: italic;
}

.duration {
	font-size: 1rem;
	font-style: italic;
}

.jobdes {
 	font-size: 1rem;
 	font-weight: bold;
 } 

.school {
	font-size: 1.2rem;
	font-weight: bold;
}

.edudes {
 	font-size: 1rem;
 	font-weight: bold;
 } 

#skills {
	background-color: lightgoldenrodyellow;
  	opacity: 0.5;
  	font-weight: bold;
  	color: black;
}




/*project*/

#html {
	background-color: lightgoldenrodyellow;
  	opacity: 0.5;
  	font-weight: bold;
  	color: black;
}

#css {
	background-color: lightgoldenrodyellow;
  	opacity: 0.5;
  	font-weight: bold;
  	color: black;
}

#bootstrap {
	background-color: lightgoldenrodyellow;
  	opacity: 0.5;
  	font-weight: bold;
  	color: black;
}

#project-btn {
	font-weight: bold;
	color: black;
}

#tools-section {
	background-color: black;
	border-top: 2px solid yellow;
	border-bottom: 2px solid yellow;
}

#projects {
	border: 2px double yellow;
}

#contactme {
	border: 2px double yellow;
}

